name: Check-Backward-Compadibility

# Run this workflow every time a new commit is pushed or a PR is made
on:
    push:
      branches: [master]
    pull_request:
      branches: [master]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['5.5', '5.6', '7.0', '7.1', '7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php-versions }}
    env:
      AWS_ACCESS_KEY_ID: foo
      AWS_SECRET_ACCESS_KEY: bar
      AWS_CSM_ENABLED: false
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, intl
          ini-values: post_max_size=256M, short_open_tag=On
          coverage: xdebug
          tools: php-cs-fixer, phpunit
      - name: install dependencies
        uses: php-actions/composer@v4
      - name: Checkout
        uses: actions/checkout@v2

